<div class="flexbox-container">
<!--start of sidebar-->
<div class="sidebar">
<header>
<h1>Joe Hale</h1>
<nav>
<p>Artist/writer<br>b.1985 (UK)</p> 
<ul class="header-nav">
    <li><a href="https://www.are.na/joe-hale" title="Visit are.na profile">are.na</a> •</li>
    <li><a href="https://huntingofthesnark.wordpress.com/" title="Visit blog page">blog</a> •</li>
    <li><a href="https://objkt.com/profile/tz1XSZhFyN9upJyNibDrL95R1DXNZ1sNw7te/created" title="Visit Objkt profile">objkt</a> •</li>
    <li><a href="https://www.youtube.com/channel/UC7sUhHJEJJJwZrv3hMSQ7HQ" title="Visit YouTube channel">youtube</a></li>
</ul>
</nav>                      
</header>
<nav>
<h2>Visual Poetry</h2>
<ul>
    <li><cite><a href="/visual-poetry/wonderland.html" title="Visit Wonderland project page">Wonderland</a></cite></li>
    <li><cite><a href="/visual-poetry/neverland.html" title="Visit Neverland project page">Neverland</a></cite></li>
    <li><cite><a href="/visual-poetry/pleasureland.html" title="Visit Pleasureland project page">Pleasureland</a></cite></li>
    <li><cite><a href="/visual-poetry/one-hundred-thousand-emojis.html" title="Visit One Hundred Thousand Emojis project page">One Hundred Thousand Emojis</a></cite></li>
</ul>    
<h3>Fantasyland</h3> 
<ul>
    <li><cite><a href="/visual-poetry/fantasyland/yellow-brick-road.html" title="Visit Yellow Brick Road project page">Yellow Brick Road</a></cite></li>
    <li><cite><a href="/visual-poetry/fantasyland/uselysses.html" title="Visit Uselysses project page">Uselysses</a></cite></li>
    <li><cite><a href="/visual-poetry/fantasyland/space-mountain.html" title="Visit Space Mountain project page">Space Mountain</a></cite></li>
    <li><cite><a href="/visual-poetry/fantasyland/tropickal-fantasy.html" title="Visit Tropickal Fantasy project page">Tropickal Fantasy</a></cite></li>
    <li>Purple Swirl 🔜</li>
</ul>        
<h3>Errorland</h3>
<ul class="errorland-gap">
    <li><cite><a href="/visual-poetry/errorland/forest-rave.html" title="Visit Forest Rave project page">Forest Rave</a></cite></li>
    <li><cite><a href="/visual-poetry/errorland/yangtze.html" title="Visit Yangtze project page">Yangtze</a></cite></li>	
    <li><cite><a href="/visual-poetry/errorland/lazy-luscious-lotus-land.html" title="Visit Lazy Luscious Lotus Land project page">Lazy Luscious Lotus Land</a></cite></li>
    <li><cite><a href="/visual-poetry/errorland/looking-glass-land.html" title="Visit Looking Glass Land project page">Looking Glass Land</a></cite></li>
</ul>
<ul>
    <li><cite><a href="/visual-poetry/fall.html" title="Visit Fall project page">Fall</a></cite></li>
    <li><cite><a href="/visual-poetry/white-noise.html" title="Visit White Noise project page">White Noise</a></cite></li>
</ul>
<h2>Sculpture</h2>
<ul>
    <li><cite><a href="/sculpture/a-ream-with-a-void.html" title="Visit A Ream with a Void project page">A Ream with a Void</a></cite></li>
    <li><cite><a href="/sculpture/mount-mountain.html" title="Visit Mount Mountain project page">Mount Mountain</a></cite></li>
</ul>
<h2>Prints</h2>    
<ul>    
    <li><cite><a href="/prints/squiggle.html" title="Visit Squiggle project page">Squiggle</a></cite></li>
    <li><cite><a href="/prints/fragments.html" title="Visit Fragments project page">Fragments</a></cite></li>
</ul>
<h2>Painting</h2>
    <cite><a href="/painting/gone-beyond.html" title="Visit Gone Beyond project page">Gone Beyond</a></cite>
<h2>Books</h2>
<ul>
    <li><cite><a href="/books/getting-inside-simon-morris-head.html" title="Visit Getting Inside Simon Morris' Head project page">Getting Inside Simon Morris' Head</a></cite></li>
    <li><cite><a href="/books/big-blue-book.html" title="Visit Big Blue Book project page">Big Blue Book</a></cite></li>
</ul>
<h2>Asemics</h2>
<ul>
    <li><cite><a href="/asemics/constellations.html" title="Visit Constellations project page">Constellations</a></cite></li>
    <li><cite><a href="/asemics/totally-obliterated.html" title="Visit Totally Obliterated project page">Totally Obliterated</a></cite></li>
    <li><cite><a href="/asemics/big-black-dot.html" title="Visit BIG BLACK DOT project page">BIG BLACK DOT</a> <img src="/images/new.gif"></cite></li>
</ul>
</nav>
<p><strong>Version</strong>: 25.06.2026</p>
<a href="http://www.joehale.info"><img src="http://www.joehale.info/images/gone-beyond.png" alt="Gone Beyond icon" title="Go to home page"></a> 
</div>
<!--end of sidebar-->

<!--start of mobile nav-->
<div class="topnav">
  <a href="http://www.joehale.info" class="active" title="Back to home page"><strong>Joe Hale</strong></a>
  <div id="myLinks">
    <a href="https://www.are.na/joe-hale" title="Visit are.na profile">Are.na</a> 
    <a href="https://huntingofthesnark.wordpress.com/" title="Visit blog page">Blog</a>  
    <a href="https://objkt.com/profile/tz1XSZhFyN9upJyNibDrL95R1DXNZ1sNw7te/created" title="Visit Objkt profile">Objkt</a>
    <a href="https://www.youtube.com/channel/UC7sUhHJEJJJwZrv3hMSQ7HQ" title="Visit YouTube channel">Youtube</a>
  </div>
    <a href="javascript:void(0);" class="icon" onclick="this.textContent = this.textContent.trim() === '☰' ? '✕' : '☰'; document.getElementById('myLinks').classList.toggle('show')">☰</a>
</div>
<!--end of mobile nav-->
</div>